<div class="section section-dark section-nucleo-icons"
  style="background-image: url(https://i.pinimg.com/564x/09/36/94/0936944e6362f4309bec6590ed79b331.jpg)">
  <div class="container" style="background-color:#2b2b2b81;">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h2 class="title">Louis Vuiton</h2>
        <p class="description">A world of elegance inspiration, innovation</p>
      </div>
    </div>
  </div>
  <div class="container" style="background-color:#2b2b2b81;">
    <div class="row">
      <div class="col-xs-8 col-sm-6 col-md-3">
        <a href="https://www.fwrd.com/brand-balenciaga/e5f885/" target="_blank"> <img
            src="https://i.pinimg.com/564x/fa/a2/54/faa254d9b73b60376a134cc9b109dbfd.jpg" width="255px"
            height="143.31px" class="img-rounded img-responsive" alt="Gucci"></a>
        <div class="img-details">
          <p> <a href="https://www.gucci.com/" target="_blank"></a></p>
        </div>
      </div>
      <div class="col-xs-8 col-sm-6 col-md-3">
        <h4 class="images-title">
          <p>Product: 10</p>
          <p>Watching: 0</p>
          <p>Response rate: 85%(in a few hours)</p>
          <div class="col text-center" routerLinkActive="active">
            <a class="btn btn-outline-neutral btn-round nav-link" style="padding:3px 10px;" rel="tooltip">Chat</a>
          </div>
        </h4>
      </div>
      <div class="col-xs-8 col-sm-6 col-md-3">
        <h4 class="images-title">
          <p>Order cancellation: 0,5%</p>
          <p>Flowers: 88,8k</p>
          <p>Evaluate: 5/5 (20,3k evaluate)</p>
          <div class="col text-center" routerLinkActive="active">
            <a class="btn btn-outline-neutral btn-round nav-link" style="padding:3px 10px;" rel="tooltip">Flow</a>
          </div>
        </h4>
      </div>
      <div class="col-xs-8 col-sm-6 col-md-3">
        <h4 class="images-title">
          <p>Joined: 25 months ago</p>
          <p>Founder: Louis Vuiton</p>
          <p>Since: 1854</p>
        </h4>
      </div>
    </div>
  </div>
  <div class="container" style="background-color:#2b2b2b81;">
    <div class="tim-title">
      <h3 style="background-color:#2b2b2b81;text-align: center;">Louis Vuiton</h3>
    </div>
    <div class="row">
      <div class="col-xs-8 col-sm-6 col-md-3" *ngFor="let lv of listLv">
        <div class="containe a img-rounded img-responsive"
          style="background-image: url(https://i.pinimg.com/564x/1e/17/35/1e17353ad14e75c0d247ade7f04eff53.jpg)">
          <div class="overlay">
            <div class="items"></div>
            <div class="items head">
              <p>{{lv.productName}}</p>
              <hr>
            </div>
            <div class="items price">
              <p class="new">${{lv.price}}</p>
            </div>
            <div class="items cart">
              <i class="fa fa-shopping-cart"></i>
              <span>DETAIL</span>
            </div>
          </div>
        </div>
        <div class="img-details">
          <h4 class="images-title">
            <div class="col text-center" routerLinkActive="active">
              <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip">ADD</a>
            </div>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="section section-dark section-nucleo-icons" style="background-color:rgba(0,0,0,0)">
    <div class="container" style="background-color:#2b2b2b81;">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto text-center">
          <h2 class="title">Louis Vuitton</h2>
          <p class="description">1821-1892</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <h2 class="title">Formation</h2><br />
          <p class="description">
            Louis Vuitton; 4 August 1821 – 27 February 1892)[1] was a French fashion designer and businessman. He was
            the founder of the Louis Vuitton brand of leather goods now owned by LVMH. Prior to this, he had been
            appointed as trunk-maker to Empress Eugénie de Montijo, wife of Napoleon.
          </p><br />
        </div>

        <div class="col-lg-6 col-md-12">
          <div class="icons-container">
            <img src="https://i.pinimg.com/564x/7b/e7/70/7be7707f2bf788ff6f02b867ab4912be.jpg" width="" height="265"
              alt=" mars">
          </div>
        </div>
      </div>
    </div>
  </div>