<div class="section section-dark section-nucleo-icons"style="background-image: url(https://i.pinimg.com/564x/09/36/94/0936944e6362f4309bec6590ed79b331.jpg)">
  <div class="container" style="background-color:#2b2b2b81;">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">Prada</h2>
              <p class="description">The Devil wears Prada</p>
          </div>
      </div>
  </div>
  <div class="container" style="background-color:#2b2b2b81;">
      <div class="row">
          <div class="col-xs-8 col-sm-6 col-md-3">
              <a href="https://www.fwrd.com/brand-balenciaga/e5f885/" target="_blank"> <img src="https://i.pinimg.com/564x/a2/1b/64/a21b641a2347255280845eb3479d9b06.jpg" width="255px" height="143.31px"  class="img-rounded img-responsive" alt="Gucci"></a>            
              <div class="img-details">
                  <p> <a href="https://www.gucci.com/" target="_blank"></a></p>
              </div>
          </div>
          <div class="col-xs-8 col-sm-6 col-md-3">
              <h4 class="images-title"> 
                <p>Product: 10</p>
                <p>Watching: 1</p>
                <p>Response rate:80%(in a few hours)</p>
                <div class="col text-center" routerLinkActive="active">
                  <a class="btn btn-outline-neutral btn-round nav-link" style="padding:3px 10px;" rel="tooltip" >Chat</a>
                </div>
              </h4>            
          </div>
          <div class="col-xs-8 col-sm-6 col-md-3">
              <h4 class="images-title"> 
                 <p>Order cancellation: 1%</p>
                 <p>Flowers: 80,7k</p>
                 <p>Evaluate: 5/5 (33,3k evaluate)</p>
                 <div class="col text-center" routerLinkActive="active">
                  <a class="btn btn-outline-neutral btn-round nav-link" style="padding:3px 10px;" rel="tooltip" >Flow</a>
                </div>
               </h4>               
          </div>
          <div class="col-xs-8 col-sm-6 col-md-3">
              <h4 class="images-title"> 
                <p>Joined: 24 months ago</p>
                <p>Founder: Mario Prada</p>
                <p>Since: 1913</p>
             </h4> 
          </div>    
      </div>
  </div>
  <div class="container" style="background-color:#2b2b2b81;" >
      <div class="tim-title">
          <h3 style="background-color:#2b2b2b81;text-align: center;">Suggestions for you</h3>
      </div>
      <div class="row">            
          <div class="col-xs-8 col-sm-6 col-md-3">
              <div class="containe a img-rounded img-responsive" style="background-image: url(https://i.pinimg.com/564x/1e/17/35/1e17353ad14e75c0d247ade7f04eff53.jpg)">
                  <div class="overlay">
                    <div class = "items"></div>
                    <div class = "items head">
                      <p>Prada PR 09YV</p>
                      <hr>
                    </div>
                    <div class = "items price">
                      <p class="old">$699</p>
                      <p class="new">$345</p>
                    </div>
                    <div class="items cart">
                      <i class="fa fa-shopping-cart"></i>
                      <span>DETAIL</span>
                  </div>
                </div>
                </div>
              <div class="img-details">
                  
                  <h4 class="images-title"> 
                      <div class="col text-center" routerLinkActive="active">
                     <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                      </div>
                 </h4>
              </div>
          </div>
          <div class="col-xs-8 col-sm-6 col-md-3">
                 <div class="containe b img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/564x/10/70/f5/1070f56259f6b8624e6ab3b1df2879f4.jpg)">
                  <div class="overlay">
                    <div class = "items"></div>
                    <div class = "items head">
                      <p>PRADA PS50GV</p>
                      <hr>
                    </div>
                    <div class = "items price">
                      <p class="old">$699</p>
                      <p class="new">$345</p>
                    </div>
                    <div class="items cart">
                      <i class="fa fa-shopping-cart"></i>
                      <span>DETAIL</span>
                  </div>
                </div>
                </div>
              <div class="img-details">
                  <h4 class="images-title"> 
                      <div class="col text-center" routerLinkActive="active">
                     <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                      </div>
                 </h4>
              </div>
          </div>
          <div class="col-xs-8 col-sm-6 col-md-3">
                 <div class="containe c img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/564x/ad/8c/40/ad8c407c308b2a2d99d87e9e8ab0f232.jpg)">
                  <div class="overlay">
                    <div class = "items"></div>
                    <div class = "items head">
                      <p>PRADA Linea Rossa PS04IV2AZ1O1</p>
                      <hr>
                    </div>
                    <div class = "items price">
                      <p class="old">$699</p>
                      <p class="new">$345</p>
                    </div>
                    <div class="items cart">
                      <i class="fa fa-shopping-cart"></i>
                      <span>DETAIL</span>
                  </div>
                </div>
                </div>
              <div class="img-details">
                  <h4 class="images-title"> 
                      <div class="col text-center" routerLinkActive="active">
                     <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                      </div>
                 </h4>
              </div>
          </div>
          <div class="col-xs-8 col-sm-6 col-md-3">
                 <div class="containe d img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/564x/0c/61/21/0c6121fd67f60867ce85a53cc94ca071.jpg)">
                  <div class="overlay">
                    <div class = "items"></div>
                    <div class = "items head">
                      <p>PRADA LINEA ROSSA PS 04IV 2AZ1O1</p>
                      <hr>
                    </div>
                    <div class = "items price">
                      <p class="old">$699</p>
                      <p class="new">$345</p>
                    </div>
                    <div class="items cart">
                      <i class="fa fa-shopping-cart"></i>
                      <span>DETAIL</span>
                  </div>
                </div>
                </div>
              <div class="img-details">
                  <h4 class="images-title"> 
                      <div class="col text-center" routerLinkActive="active">
                     <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                      </div>
                 </h4>
              </div>
          </div>

      </div>
  </div>

  <div class="container" style="background-color:#2b2b2b81;" >
      
      <div class="row">            
          <div class="col-xs-8 col-sm-6 col-md-3">
             <div class="containe f img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/564x/85/4d/71/854d714c5d079d87a953b8378fc27502.jpg)">
              <div class="overlay">
                <div class = "items"></div>
                <div class = "items head">
                  <p>Flower Embroidery Hoop Art</p>
                  <hr>
                </div>
                <div class = "items price">
                  <p class="old">$699</p>
                  <p class="new">$345</p>
                </div>
                <div class="items cart">
                  <i class="fa fa-shopping-cart"></i>
                  <span>DETAIL</span>
              </div>
            </div>
            </div>
          <div class="img-details">
              <h4 class="images-title"> 
                  <div class="col text-center" routerLinkActive="active">
                 <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                  </div>
             </h4>
          </div>
      </div>
      <div class="col-xs-8 col-sm-6 col-md-3">
         <div class="containe g img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/564x/3a/ce/a5/3acea54b9285fbf156c20031ee4d2547.jpg)">
          <div class="overlay">
            <div class = "items"></div>
            <div class = "items head">
              <p>PRADA LINEA ROSSA PS 04IV 2AZ1O1</p>
              <hr>
            </div>
            <div class = "items price">
              <p class="old">$699</p>
              <p class="new">$345</p>
            </div>
            <div class="items cart">
              <i class="fa fa-shopping-cart"></i>
              <span>DETAIL</span>
          </div>
        </div>
        </div>
      <div class="img-details">
          <h4 class="images-title"> 
              <div class="col text-center" routerLinkActive="active">
             <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
              </div>
         </h4>
      </div>
  </div>
  <div class="col-xs-8 col-sm-6 col-md-3">
     <div class="containe h img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/564x/3a/12/55/3a12554ef772881ba341225427df715a.jpg)">
      <div class="overlay">
        <div class = "items"></div>
        <div class = "items head">
          <p>DIORMIDNIGHT S1I</p>
          <hr>
        </div>
        <div class = "items price">
          <p class="old">$699</p>
          <p class="new">$345</p>
        </div>
        <div class="items cart">
          <i class="fa fa-shopping-cart"></i>
          <span>DETAIL</span>
      </div>
    </div>
    </div>
  <div class="img-details">
      <h4 class="images-title"> 
          <div class="col text-center" routerLinkActive="active">
         <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
          </div>
     </h4>
  </div>
</div>
<div class="col-xs-8 col-sm-6 col-md-3">
 <div class="containe j img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/564x/41/bf/99/41bf9971a058a2e660146be83d35c1a0.jpg)">
  <div class="overlay">
    <div class = "items"></div>
    <div class = "items head">
      <p>Rectangular sunglasses with photochromic lens</p>
      <hr>
    </div>
    <div class = "items price">
      <p class="old">$699</p>
      <p class="new">$345</p>
    </div>
    <div class="items cart">
      <i class="fa fa-shopping-cart"></i>
      <span>DETAIL</span>
  </div>
</div>
</div>
<div class="img-details">   
  <h4 class="images-title"> 
      <div class="col text-center" routerLinkActive="active">
     <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
      </div>
 </h4>
</div>
</div>
  </div>
  
<div class="section section-dark section-nucleo-icons"style="background-color:rgba(0,0,0,0)">
  <div class="container" style="background-color:#2b2b2b81;">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">Mario Prada</h2>
              <p class="description">1958</p>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <h2 class="title">Formation</h2><br/>
              <p class="description">
                Miuccia Bianchi Prada ; born Maria Bianchi [maˈriːa ˈbjaŋki] on 10 May 1949) is an Italian billionaire fashion designer and businesswoman. She is the head designer of Prada and the founder of its subsidiary Miu Miu.[1] As of October 2021, Forbes estimated her net worth at US$4.8 billion.[2] In June 2021, Bloomberg estimated her net worth to be $6.62 billion, ranked 464th in the world.[3]v
              </p><br/>
          </div>

          <div class="col-lg-6 col-md-12">
              <div class="icons-container"> 
                  <img src="https://i.pinimg.com/564x/a8/68/a7/a868a7b5cd387d6cead2cb73c9dff5a3.jpg"  width="" height="265" alt=" mars">
              </div>
          </div>
      </div>
  </div>
</div>  

