<div class="container" style="margin-right:0;
margin-left: 0; left: 0px; right: 0px;">
    <div class="slider">
        
        <div class="slide slide1">
            <div class="caption">
                <h2>Coco Chanel</h2>
                <p>AROUND SINCE 1945, CELINE HAS BEEN OFFERING LUXURY GOODS FROM THE VERY START. KNOWN AS A PREMIER BRAND FOR THE FRENCH CHIC AESTHETIC, CELINE OFFERS SOME OF THE MOST STRIKING SUNGLASSES AND EYEGLASSES THE MARKET HAS TO OFFER. WITH BIG FRAMES AND VIBRANT COLORS, IT’S DIFFICULT NOT TO NOTICE THESE LOVELY FRAMES, AS THE BRAND SEAMLESSLY BLENDS CLASSIC SHAPES WITH FASHION-FORWARD DESIGNS.</p>
            </div>
        </div>
        <div class="slide slide2">
            <div class="caption">
                <h2>Dior</h2>
                <p>A LUXURIOUS TAKE ON DITA THAT FUSES TIMELESS DESIGN WITH HIGH FUNCTIONAL PERFORMANCE, DITA EPILUXURY SUNGLASSES ARE GENUINE WORKS OF ART. OFFERING 3 DIFFERENT TEMPLE DESIGNS FOR MULTIFUNCTIONAL EYEWEAR, THE PERFECT AESTHETIC IS CLOSER THAN YOU THINK. WHETHER YOUR STYLE IS CLASSIC, ALTERNATIVE OR ECLECTIC, DITA EPILUXURY HAS THE HEAD-TURNING FRAME FOR YOU.</p>
            </div>
        </div>
        <div class="slide slide3">
            <div class="caption">
                <h2>Gucci</h2>
                <p>FOUNDED IN 1921, THE ONLY ATTRIBUTE THAT CAN COMPARE TO GUCCI’S CLASSIC MOTIFS AND DESIGNS IS ITS LONGEVITY. A FAVORITE OF HOLLYWOOD STARS AND CREATIVES ALIKE, THE ITALIAN FASHION HOUSE IS KNOWN FOR ITS ICONIC PATTERNS AND UNFORGETTABLE PRINTS. FEATURING SOME OF THE MOST DISTINCTIVE FRAMES AND OPULENT MATERIALS, GUCCI SUNGLASSES AND EYEGLASSES ARE MADE FOR THE STARRING ROLE. CREATIVITY MEETS TOP-TIER LUXURY IN ANY OF THE LATEST PAIRS BY THIS LEGENDARY BRAND.</p>
            </div>
        </div>
        <div class="slide slide4">
            <div class="caption">
                <h2>Prada</h2>
                <p>INNOVATION AND EXPERIMENTATION HAVE BEEN CORE TO THE ITALIAN HOUSE’S FOUNDATION SINCE THE VERY START. CHALLENGING PRECONCEIVED NOTIONS AND WELL-REGARDED CONVENTIONS IS PRADA’S MISSION AND LONG-STANDING GOAL. LOOKING AT THE EYEWEAR FROM ANY OF THEIR SEASONS REVEALS THIS IN FULL DETAIL, AS THE SHAPES AND FORMS FOLLOW NO TRAILS BUT THEIR OWN. WITH LEGENDARY PIECES FOR MEN AND WOMEN, PRADA IS MEANT TO LEAD THE WAY.</p>
            </div>
        </div>
       
    </div>
</div>
