<div class="section section-dark section-nucleo-icons"style="background-image: url(https://i.pinimg.com/564x/09/36/94/0936944e6362f4309bec6590ed79b331.jpg)">
  <div class="container" style="background-color:#2b2b2b81;">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">Chanel</h2>
              <p class="description">Whoever said money can’t buy happiness didn’t know where to go shopping</p>
          </div>
      </div>
  </div>
  <div class="container" style="background-color:#2b2b2b81;">
      <div class="row">
          <div class="col-xs-8 col-sm-6 col-md-3">
              <a href="https://www.fwrd.com/brand-balenciaga/e5f885/" target="_blank"> <img src="https://i.pinimg.com/564x/2f/8e/09/2f8e095c40cb7827e83b798c4f87b78e.jpg" width="255px" height="143.31px" class="img-rounded img-responsive" alt="Gucci"></a>            
              <div class="img-details">
                  <p> <a href="https://www.gucci.com/" target="_blank"></a></p>
              </div>
          </div>
          <div class="col-xs-8 col-sm-6 col-md-3">
              <h4 class="images-title"> 
                <p>Product: 10</p>
                <p>Watching: 1</p>
                <p>Response rate:73%(in a few hours)</p>
                <div class="col text-center" routerLinkActive="active">
                  <a class="btn btn-outline-neutral btn-round nav-link" style="padding:3px 10px;" rel="tooltip" >Chat</a>
                </div>
              </h4>            
          </div>
          <div class="col-xs-8 col-sm-6 col-md-3">
              <h4 class="images-title"> 
                 <p>Order cancellation: 1,5%</p>
                 <p>Flowers: 84,7k</p>
                 <p>Evaluate: 5/5 (95,3k evaluate)</p>
                 <div class="col text-center" routerLinkActive="active">
                  <a class="btn btn-outline-neutral btn-round nav-link" style="padding:3px 10px;" rel="tooltip" >Flow</a>
                </div>
               </h4>               
          </div>
          <div class="col-xs-8 col-sm-6 col-md-3">
              <h4 class="images-title"> 
                <p>Joined: 21 months ago</p>
                <p>Founder: CoCo Chanel</p>
                <p>Since: 1910</p>
             </h4> 
          </div>    
      </div>
  </div>
  <div class="container" style="background-color:#2b2b2b81;">
    <div class="tim-title">
      <h3 style="background-color:#2b2b2b81;text-align: center;">Product</h3>
  </div>
    <div class="row">            
        <div class="col-xs-8 col-sm-6 col-md-3">
            <div class="containe a img-rounded img-responsive" style="background-image: url(https://i.pinimg.com/236x/96/2c/7c/962c7cf4fe5ad568d90631e0efe5eb9a.jpg)">
                <div class="overlay">
                  <div class = "items"></div>
                  <div class = "items head">
                    <p>ROUND SUNGLASSES</p>
                    <hr>
                  </div>
                  <div class = "items price">
                    <p class="old">$699</p>
                    <p class="new">$345</p>
                  </div>
                  <div class="items cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span>DETAIL</span>
                </div>
              </div>
              </div>
            <div class="img-details">
                
                <h4 class="images-title"> 
                    <div class="col text-center" routerLinkActive="active">
                   <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                    </div>
               </h4>
            </div>
        </div>
        <div class="col-xs-8 col-sm-6 col-md-3">
               <div class="containe b img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/564x/04/f5/f9/04f5f9c3ed0bc9d332d519210ee72984.jpg)">
                <div class="overlay">
                  <div class = "items"></div>
                  <div class = "items head">
                    <p>PILOT SUNGLASSES</p>
                    <hr>
                  </div>
                  <div class = "items price">
                    <p class="old">$699</p>
                    <p class="new">$345</p>
                  </div>
                  <div class="items cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span>DETAIL</span>
                </div>
              </div>
              </div>
            <div class="img-details">
                <h4 class="images-title"> 
                    <div class="col text-center" routerLinkActive="active">
                   <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                    </div>
               </h4>
            </div>
        </div>
        <div class="col-xs-8 col-sm-6 col-md-3">
               <div class="containe c img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/564x/9e/af/42/9eaf427205a8d1c5be3ea8245c7b5c1d.jpg)">
                <div class="overlay">
                  <div class = "items"></div>
                  <div class = "items head">
                    <p>SQUARE SUNGLASSES</p>
                    <hr>
                  </div>
                  <div class = "items price">
                    <p class="old">$699</p>
                    <p class="new">$345</p>
                  </div>
                  <div class="items cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span>DETAIL</span>
                </div>
              </div>
              </div>
            <div class="img-details">
                <h4 class="images-title"> 
                    <div class="col text-center" routerLinkActive="active">
                   <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                    </div>
               </h4>
            </div>
        </div>
        <div class="col-xs-8 col-sm-6 col-md-3">
               <div class="containe d img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/564x/ef/bb/fc/efbbfc7d9f7ff86efb9f6e75479236b6.jpg)">
                <div class="overlay">
                  <div class = "items"></div>
                  <div class = "items head">
                    <p>RECTANGLE SUNGLASSES</p>
                    <hr>
                  </div>
                  <div class = "items price">
                    <p class="old">$699</p>
                    <p class="new">$345</p>
                  </div>
                  <div class="items cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span>DETAIL</span>
                </div>
              </div>
              </div>
            <div class="img-details">
                <h4 class="images-title"> 
                    <div class="col text-center" routerLinkActive="active">
                   <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                    </div>
               </h4>
            </div>
        </div>

    </div>
</div>

<div class="container" style="background-color:#2b2b2b81;">
    
    <div class="row">            
        <div class="col-xs-8 col-sm-6 col-md-3">
           <div class="containe f img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/564x/d1/5d/2f/d15d2f5dd09fb214a7ba14f3de5ffb37.jpg)">
            <div class="overlay">
              <div class = "items"></div>
              <div class = "items head">
                <p>Flower Embroidery Hoop Art</p>
                <hr>
              </div>
              <div class = "items price">
                <p class="old">$699</p>
                <p class="new">$345</p>
              </div>
              <div class="items cart">
                <i class="fa fa-shopping-cart"></i>
                <span>DETAIL</span>
            </div>
          </div>
          </div>
        <div class="img-details">
            <h4 class="images-title"> 
                <div class="col text-center" routerLinkActive="active">
               <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                </div>
           </h4>
        </div>
    </div>
    <div class="col-xs-8 col-sm-6 col-md-3">
       <div class="containe g img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/236x/2a/4b/bd/2a4bbd9f5cc72d53fb20a6faafa2663f.jpg)">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>LV GLIDE SQUARE SUNGLASSES</p>
            <hr>
          </div>
          <div class = "items price">
            <p class="old">$699</p>
            <p class="new">$345</p>
          </div>
          <div class="items cart">
            <i class="fa fa-shopping-cart"></i>
            <span>DETAIL</span>
        </div>
      </div>
      </div>
    <div class="img-details">
        <h4 class="images-title"> 
            <div class="col text-center" routerLinkActive="active">
           <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
            </div>
       </h4>
    </div>
</div>
<div class="col-xs-8 col-sm-6 col-md-3">
   <div class="containe h img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/236x/44/2d/2e/442d2e581d51feb9f064cb969a286ea6.jpg)">
    <div class="overlay">
      <div class = "items"></div>
      <div class = "items head">
        <p>LV GLIDE ROUND SUNGLASSES</p>
        <hr>
      </div>
      <div class = "items price">
        <p class="old">$699</p>
        <p class="new">$345</p>
      </div>
      <div class="items cart">
        <i class="fa fa-shopping-cart"></i>
        <span>DETAIL</span>
    </div>
  </div>
  </div>
<div class="img-details">
    <h4 class="images-title"> 
        <div class="col text-center" routerLinkActive="active">
       <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
        </div>
   </h4>
</div>
</div>
<div class="col-xs-8 col-sm-6 col-md-3">
<div class="containe j img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/236x/44/25/fa/4425fa259e2d8b3823e3b6841e2d35bf.jpg)">
<div class="overlay">
  <div class = "items"></div>
  <div class = "items head">
    <p>Flower Embroidery Hoop Art</p>
    <hr>
  </div>
  <div class = "items price">
    <p class="old">$699</p>
    <p class="new">$345</p>
  </div>
  <div class="items cart">
    <i class="fa fa-shopping-cart"></i>
    <span>DETAIL</span>
</div>
</div>
</div>
<div class="img-details">   
<h4 class="images-title"> 
    <div class="col text-center" routerLinkActive="active">
   <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
    </div>
</h4>
</div>
</div>
</div>
  
</div>
<div class="section section-dark section-nucleo-icons"style="background-color:rgba(0,0,0,0)">
  <div class="container" style="background-color:#2b2b2b81;">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">CoCo Chanel</h2>
              <p class="description">1883-1971</p>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <h2 class="title">Formation</h2><br/>
              <p class="description">
                Gabrielle Bonheur "Coco" Chanel ; 19 August 1883 – 10 January 1971)[2] was a French fashion designer and businesswoman. The founder and namesake of the Chanel brand, she was credited in the post-World War I era with popularizing a sporty, casual chic as the feminine standard of style. 
              </p><br/>
          </div>

          <div class="col-lg-6 col-md-12">
              <div class="icons-container">      
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWzJkoiVL34gJmJG6xSEdA66CGt2J4wIA3FGlpzrWSjofrO7DBNPbGZzCZrLWcZ7IV0ic&usqp=CAU"width="" height="265" alt=" mars">
              </div>
          </div>
      </div>
  </div>
</div>  

