<div class="section section-dark"style="background-image: url(https://i.pinimg.com/564x/09/36/94/0936944e6362f4309bec6590ed79b331.jpg)">
    <div class="container" style="background-color:#2b2b2b81;">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">Universal Glasses Sales and Discount Campaign</h2>
                <p class="description"> Follow us to get great deals from promotions on special days</p>
            </div>
        </div>
    </div>
<div class="section">
    <div class="container tim-container">
            <div class="row">
                <div class="typography-line">
                    <h1>
                        <span class="note">10%-30%</span>Discount by VIP card / Menbership card
                    </h1>
                </div>
                <div class="typography-line">
                    <h2>
                        <span class="note">50%</span>Discount in BlackFriday
                    </h2>
                </div>
                <div class="typography-line">
                    <h3>
                        <span class="note">10%</span> Discount on the 15th of everymoth
                    </h3>
                </div>
                <div class="typography-line">
                    <h4>
                        <span class="note">20%</span>Discounts on the same day of the month
                    </h4>
                </div>
                <div class="typography-line">
                    <h5>
                        <span class="note">30%</span> Golden Week(Applicable in select countries only)
                    </h5>
                </div>
                <div class="typography-line">
                    <h6>
                        <span class="note">15%</span>New products launch with great discount
                    </h6>
                </div>
            </div>
        </div>
        <br/>

    </div>
</div>
