<div class="section section-dark section-nucleo-icons"style="background-image: url(https://i.pinimg.com/564x/09/36/94/0936944e6362f4309bec6590ed79b331.jpg)">
  <div class="container" style="background-color:#2b2b2b81;">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">Chrome Hearts</h2>
              <p class="description">We are STYLE</p>
          </div>
      </div>
  </div>
  <div class="container" style="background-color:#2b2b2b81;">
      <div class="row">
          <div class="col-xs-8 col-sm-6 col-md-3">
              <a href="https://www.fwrd.com/brand-balenciaga/e5f885/" target="_blank"> <img src="https://i.pinimg.com/564x/06/dc/af/06dcaf310cc08e3c75f3f8985d3b7489.jpg" width="255px" height="143.31px"  class="img-rounded img-responsive" alt="Gucci"></a>            
              <div class="img-details">
                  <p> <a href="https://www.gucci.com/" target="_blank"></a></p>
              </div>
          </div>
          <div class="col-xs-8 col-sm-6 col-md-3">
              <h4 class="images-title"> 
                <p>Product: 10</p>
                <p>Watching: 1</p>
                <p>Response rate:81%(in a few hours)</p>
                <div class="col text-center" routerLinkActive="active">
                  <a class="btn btn-outline-neutral btn-round nav-link" style="padding:3px 10px;" rel="tooltip" >Chat</a>
                </div>
              </h4>            
          </div>
          <div class="col-xs-8 col-sm-6 col-md-3">
              <h4 class="images-title"> 
                 <p>Order cancellation: 1%</p>
                 <p>Flowers: 99,7k</p>
                 <p>Evaluate: 5/5 (30,3k evaluate)</p>
                 <div class="col text-center" routerLinkActive="active">
                  <a class="btn btn-outline-neutral btn-round nav-link" style="padding:3px 10px;" rel="tooltip" >Flow</a>
                </div>
               </h4>               
          </div>
          <div class="col-xs-8 col-sm-6 col-md-3">
              <h4 class="images-title"> 
                <p>Joined: 21 months ago</p>
                <p>Founder: Richard Stark</p>
                <p>Since: 1988</p>
             </h4> 
          </div>    
      </div>
  </div>
  <div class="container" style="background-color:#2b2b2b81;">
    <div class="tim-title">
        <h3 style="background-color:#2b2b2b81;text-align: center;">Suggestions for you</h3>
    </div>
    <div class="row">            
        <div class="col-xs-8 col-sm-6 col-md-3">
            <div class="containe a img-rounded img-responsive" style="background-image: url(https://i.pinimg.com/236x/e7/82/68/e782682117ce6b21363f9ff5477ed935.jpg)">
                <div class="overlay">
                  <div class = "items"></div>
                  <div class = "items head">
                    <p>Rectangular sunglasses with photochromic lens</p>
                    <hr>
                  </div>
                  <div class = "items price">
                    <p class="old">$699</p>
                    <p class="new">$345</p>
                  </div>
                  <div class="items cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span>DETAIL</span>
                </div>
              </div>
              </div>
            <div class="img-details">
                
                <h4 class="images-title"> 
                    <div class="col text-center" routerLinkActive="active">
                   <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                    </div>
               </h4>
            </div>
        </div>
        <div class="col-xs-8 col-sm-6 col-md-3">
               <div class="containe b img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/236x/c9/99/d4/c999d4ed91bb03dba098d9635fe91a7e.jpg)">
                <div class="overlay">
                  <div class = "items"></div>
                  <div class = "items head">
                    <p>CYCLONE SPORT MASK SUNGLASSES</p>
                    <hr>
                  </div>
                  <div class = "items price">
                    <p class="old">$699</p>
                    <p class="new">$345</p>
                  </div>
                  <div class="items cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span>DETAIL</span>
                </div>
              </div>
              </div>
            <div class="img-details">
                <h4 class="images-title"> 
                    <div class="col text-center" routerLinkActive="active">
                   <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                    </div>
               </h4>
            </div>
        </div>
        <div class="col-xs-8 col-sm-6 col-md-3">
               <div class="containe c img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/236x/7a/1d/c4/7a1dc492a3f717aa7c852706c868e9f0.jpg)">
                <div class="overlay">
                  <div class = "items"></div>
                  <div class = "items head">
                    <p>Flower Embroidery Hoop Art</p>
                    <hr>
                  </div>
                  <div class = "items price">
                    <p class="old">$699</p>
                    <p class="new">$345</p>
                  </div>
                  <div class="items cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span>DETAIL</span>
                </div>
              </div>
              </div>
            <div class="img-details">
                <h4 class="images-title"> 
                    <div class="col text-center" routerLinkActive="active">
                   <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                    </div>
               </h4>
            </div>
        </div>
        <div class="col-xs-8 col-sm-6 col-md-3">
               <div class="containe d img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/236x/a7/0d/46/a70d4656108b15b6a843c38e0f8eabea.jpg)">
                <div class="overlay">
                  <div class = "items"></div>
                  <div class = "items head">
                    <p>CYCLONE SPORT MASK SUNGLASSES</p>
                    <hr>
                  </div>
                  <div class = "items price">
                    <p class="old">$699</p>
                    <p class="new">$345</p>
                  </div>
                  <div class="items cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span>DETAIL</span>
                </div>
              </div>
              </div>
            <div class="img-details">
                <h4 class="images-title"> 
                    <div class="col text-center" routerLinkActive="active">
                   <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                    </div>
               </h4>
            </div>
        </div>

    </div>
</div>

<div class="container" style="background-color:#2b2b2b81;">
    
    <div class="row">            
        <div class="col-xs-8 col-sm-6 col-md-3">
           <div class="containe f img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/236x/0e/a4/64/0ea464aa7b725bd7df0257feaf32dc83.jpg)">
            <div class="overlay">
              <div class = "items"></div>
              <div class = "items head">
                <p>Flower Embroidery Hoop Art</p>
                <hr>
              </div>
              <div class = "items price">
                <p class="old">$699</p>
                <p class="new">$345</p>
              </div>
              <div class="items cart">
                <i class="fa fa-shopping-cart"></i>
                <span>DETAIL</span>
            </div>
          </div>
          </div>
        <div class="img-details">
            <h4 class="images-title"> 
                <div class="col text-center" routerLinkActive="active">
               <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                </div>
           </h4>
        </div>
    </div>
    <div class="col-xs-8 col-sm-6 col-md-3">
       <div class="containe g img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/236x/71/14/81/71148188af9c38407a76d5f7465c04b9.jpg)">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>PILOT SUNGLASSES</p>
            <hr>
          </div>
          <div class = "items price">
            <p class="old">$699</p>
            <p class="new">$345</p>
          </div>
          <div class="items cart">
            <i class="fa fa-shopping-cart"></i>
            <span>DETAIL</span>
        </div>
      </div>
      </div>
    <div class="img-details">
        <h4 class="images-title"> 
            <div class="col text-center" routerLinkActive="active">
           <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
            </div>
       </h4>
    </div>
</div>
<div class="col-xs-8 col-sm-6 col-md-3">
   <div class="containe h img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/236x/ef/96/fc/ef96fc29605db86221e481ff4bdc2d49.jpg)">
    <div class="overlay">
      <div class = "items"></div>
      <div class = "items head">
        <p>Flower Embroidery Hoop Art</p>
        <hr>
      </div>
      <div class = "items price">
        <p class="old">$699</p>
        <p class="new">$345</p>
      </div>
      <div class="items cart">
        <i class="fa fa-shopping-cart"></i>
        <span>DETAIL</span>
    </div>
  </div>
  </div>
<div class="img-details">
    <h4 class="images-title"> 
        <div class="col text-center" routerLinkActive="active">
       <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
        </div>
   </h4>
</div>
</div>
<div class="col-xs-8 col-sm-6 col-md-3">
<div class="containe j img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/236x/70/3b/d5/703bd5fbbf314d60988d288879b90fbc.jpg)">
<div class="overlay">
  <div class = "items"></div>
  <div class = "items head">
    <p>Rectangular sunglasses with photochromic lens</p>
    <hr>
  </div>
  <div class = "items price">
    <p class="old">$699</p>
    <p class="new">$345</p>
  </div>
  <div class="items cart">
    <i class="fa fa-shopping-cart"></i>
    <span>DETAIL</span>
</div>
</div>
</div>
<div class="img-details">   
<h4 class="images-title"> 
    <div class="col text-center" routerLinkActive="active">
   <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
    </div>
</h4>
</div>
</div>
    </div>
</div>
  
<div class="section section-dark section-nucleo-icons" style="background-color:#2b2b2b81">
  <div class="container" style="background-color:#2b2b2b81;">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">Richard Stark</h2>
              <p class="description">1960</p>
          </div>
      </div>
  </div>
  <div class="container" style="background-color:#2b2b2b81">
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <h2 class="title">Formation</h2><br/>
              <p class="description">
                Richard Stark (born May 19, 1960) is an American fashion designer and the co-founder of luxury brand Chrome Hearts.
              </p><br/>
          </div>

          <div class="col-lg-6 col-md-12">
              <div class="icons-container">      
                  <img src="https://i.pinimg.com/564x/e2/f8/cc/e2f8cce3156357b72d08f02a0bf5cf8c.jpg"width="" height="265" alt=" mars">
              </div>
          </div>
      </div>
  </div>
</div>  

