<div class="section section-dark section-nucleo-icons"style="background-image: url(https://i.pinimg.com/564x/09/36/94/0936944e6362f4309bec6590ed79b331.jpg)">
  <div class="container" style="background-color:#2b2b2b81;">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">Dior</h2>
              <p class="description">Dior forever – perfect cushion</p>
          </div>
      </div>
  </div>
  <div class="container" style="background-color:#2b2b2b81;">
      <div class="row">
          <div class="col-xs-8 col-sm-6 col-md-3">
              <a href="https://www.fwrd.com/brand-balenciaga/e5f885/" target="_blank"> <img src="https://i.pinimg.com/564x/35/ce/2b/35ce2b45efad937afffa6ae7c618ffba.jpg" width="255px" height="143.31px" class="img-rounded img-responsive" alt="Gucci"></a>            
              <div class="img-details">
                  <p> <a href="https://www.gucci.com/" target="_blank"></a></p>
              </div>
          </div>
          <div class="col-xs-8 col-sm-6 col-md-3">
              <h4 class="images-title"> 
                <p>Product: 10</p>
                <p>Watching: 1</p>
                <p>Response rate:77%(in a few hours)</p>
                <div class="col text-center" routerLinkActive="active">
                  <a class="btn btn-outline-neutral btn-round nav-link" style="padding:3px 10px;" rel="tooltip" >Chat</a>
                </div>
              </h4>            
          </div>
          <div class="col-xs-8 col-sm-6 col-md-3">
              <h4 class="images-title"> 
                 <p>Order cancellation: 2%</p>
                 <p>Flowers: 76k</p>
                 <p>Evaluate: 5/5 (92,3k evaluate)</p>
                 <div class="col text-center" routerLinkActive="active">
                  <a class="btn btn-outline-neutral btn-round nav-link" style="padding:3px 10px;" rel="tooltip" >Flow</a>
                </div>
               </h4>               
          </div>
          <div class="col-xs-8 col-sm-6 col-md-3">
              <h4 class="images-title"> 
                <p>Joined: 17 months ago</p>
                <p>Founder: Christian Dior</p>
                <p>Since: 1946</p>
             </h4> 
          </div>    
      </div>
      <div class="container" style="background-color:#2b2b2b81;" >
          <div class="tim-title">
              <h3 style="background-color:#2b2b2b81;text-align: center;">Suggestions for you</h3>
          </div>
          <div class="row">            
              <div class="col-xs-8 col-sm-6 col-md-3">
                  <div class="containe a img-rounded img-responsive" style="background-image: url(https://i.pinimg.com/236x/a6/2c/24/a62c244c11019a24a71a11360382baa5.jpg)">
                      <div class="overlay">
                        <div class = "items"></div>
                        <div class = "items head">
                          <p>Flower Embroidery Hoop Art</p>
                          <hr>
                        </div>
                        <div class = "items price">
                          <p class="old">$699</p>
                          <p class="new">$345</p>
                        </div>
                        <div class="items cart">
                          <i class="fa fa-shopping-cart"></i>
                          <span>DETAIL</span>
                      </div>
                    </div>
                    </div>
                  <div class="img-details">
                      
                      <h4 class="images-title"> 
                          <div class="col text-center" routerLinkActive="active">
                         <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                          </div>
                     </h4>
                  </div>
              </div>
              <div class="col-xs-8 col-sm-6 col-md-3">
                     <div class="containe b img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/236x/eb/2a/83/eb2a8318c8423bd808a90bbf7d199f62.jpg)">
                      <div class="overlay">
                        <div class = "items"></div>
                        <div class = "items head">
                          <p>DIORALPS M1I</p>
                          <hr>
                        </div>
                        <div class = "items price">
                          <p class="old">$699</p>
                          <p class="new">$345</p>
                        </div>
                        <div class="items cart">
                          <i class="fa fa-shopping-cart"></i>
                          <span>DETAIL</span>
                      </div>
                    </div>
                    </div>
                  <div class="img-details">
                      <h4 class="images-title"> 
                          <div class="col text-center" routerLinkActive="active">
                         <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                          </div>
                     </h4>
                  </div>
              </div>
              <div class="col-xs-8 col-sm-6 col-md-3">
                     <div class="containe c img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/236x/24/41/ef/2441ef9352365a22ec39a152243e96cf.jpg)">
                      <div class="overlay">
                        <div class = "items"></div>
                        <div class = "items head">
                          <p>DIORSIGNATURE B2U DIORALPS</p>
                          <hr>
                        </div>
                        <div class = "items price">
                          <p class="old">$699</p>
                          <p class="new">$345</p>
                        </div>
                        <div class="items cart">
                          <i class="fa fa-shopping-cart"></i>
                          <span>DETAIL</span>
                      </div>
                    </div>
                    </div>
                  <div class="img-details">
                      <h4 class="images-title"> 
                          <div class="col text-center" routerLinkActive="active">
                         <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                          </div>
                     </h4>
                  </div>
              </div>
              <div class="col-xs-8 col-sm-6 col-md-3">
                     <div class="containe d img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/236x/af/10/ef/af10ef39da402fccdda3201a3796e73c.jpg)">
                      <div class="overlay">
                        <div class = "items"></div>
                        <div class = "items head">
                          <p>Flower Embroidery Hoop Art</p>
                          <hr>
                        </div>
                        <div class = "items price">
                          <p class="old">$699</p>
                          <p class="new">$345</p>
                        </div>
                        <div class="items cart">
                          <i class="fa fa-shopping-cart"></i>
                          <span>DETAIL</span>
                      </div>
                    </div>
                    </div>
                  <div class="img-details">
                      <h4 class="images-title"> 
                          <div class="col text-center" routerLinkActive="active">
                         <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                          </div>
                     </h4>
                  </div>
              </div>
  
          </div>
      </div>
  
      <div class="container" style="background-color:#2b2b2b81;" >
          <div class="row">            
              <div class="col-xs-8 col-sm-6 col-md-3">
                 <div class="containe f img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/236x/df/e2/a2/dfe2a27a86b4255b0f7243be6f1cf480.jpg)">
                  <div class="overlay">
                    <div class = "items"></div>
                    <div class = "items head">
                      <p>DIORSIGNATURE B2U DIORALPS</p>
                      <hr>
                    </div>
                    <div class = "items price">
                      <p class="old">$699</p>
                      <p class="new">$345</p>
                    </div>
                    <div class="items cart">
                      <i class="fa fa-shopping-cart"></i>
                      <span>DETAIL</span>
                  </div>
                </div>
                </div>
              <div class="img-details">
                  <h4 class="images-title"> 
                      <div class="col text-center" routerLinkActive="active">
                     <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                      </div>
                 </h4>
              </div>
          </div>
          <div class="col-xs-8 col-sm-6 col-md-3">
             <div class="containe g img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/236x/c9/4b/e1/c94be11b32c526d84b863ad72483ff9f.jpg)">
              <div class="overlay">
                <div class = "items"></div>
                <div class = "items head">
                  <p>MISSDIOR B1U</p>
                  <hr>
                </div>
                <div class = "items price">
                  <p class="old">$699</p>
                  <p class="new">$345</p>
                </div>
                <div class="items cart">
                  <i class="fa fa-shopping-cart"></i>
                  <span>DETAIL</span>
              </div>
            </div>
            </div>
          <div class="img-details">
              <h4 class="images-title"> 
                  <div class="col text-center" routerLinkActive="active">
                 <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                  </div>
             </h4>
          </div>
      </div>
      <div class="col-xs-8 col-sm-6 col-md-3">
         <div class="containe h img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/236x/a1/af/4b/a1af4bc1f371f68b7068f5e5d138a7a7.jpg)">
          <div class="overlay">
            <div class = "items"></div>
            <div class = "items head">
              <p>Flower Embroidery Hoop Art</p>
              <hr>
            </div>
            <div class = "items price">
              <p class="old">$699</p>
              <p class="new">$345</p>
            </div>
            <div class="items cart">
              <i class="fa fa-shopping-cart"></i>
              <span>DETAIL</span>
          </div>
        </div>
        </div>
      <div class="img-details">
          <h4 class="images-title"> 
              <div class="col text-center" routerLinkActive="active">
             <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
              </div>
         </h4>
      </div>
  </div>
  <div class="col-xs-8 col-sm-6 col-md-3">
     <div class="containe j img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/236x/df/d5/c8/dfd5c8f8a748001141431a3c8de07f84.jpg)">
      <div class="overlay">
        <div class = "items"></div>
        <div class = "items head">
          <p>MISSDIOR B1U</p>
          <hr>
        </div>
        <div class = "items price">
          <p class="old">$699</p>
          <p class="new">$345</p>
        </div>
        <div class="items cart">
          <i class="fa fa-shopping-cart"></i>
          <span>DETAIL</span>
      </div>
    </div>
    </div>
  <div class="img-details">   
      <h4 class="images-title"> 
          <div class="col text-center" routerLinkActive="active">
         <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
          </div>
     </h4>
  </div>
  </div>
      </div>
      </div>
  
<div class="section section-dark section-nucleo-icons"style="background-color:rgba(0,0,0,0)">
  <div class="container" style="background-color:#2b2b2b81;">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">Christian Dior</h2>
              <p class="description">1905-1957</p>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <h2 class="title">Formation</h2><br/>
              <p class="description">
                Christian Ernest Dior ; 21 January 1905 – 24 October 1957) was a French fashion designer, best known as the founder of one of the world's top fashion houses, Christian Dior SE, which is now owned by parent company LVMH. His fashion houses are known all around the world, specifically "on five continents in only a decade" (Sauer[2]). He was the second child of a family of seven, born to Maurice Dior and Madeleine Martin, in the town of Granville.
              </p><br/>
          </div>

          <div class="col-lg-6 col-md-12">
              <div class="icons-container">      
                  <img src="https://cdn.britannica.com/13/12313-004-03D84561/Christian-Dior-1957.jpg"width="" height="265" alt=" mars">
              </div>
          </div>
      </div>
  </div>
</div>  

