<div class="section section-dark section-nucleo-icons"style="background-image: url(https://i.pinimg.com/564x/09/36/94/0936944e6362f4309bec6590ed79b331.jpg)">
  <div class="container" style="background-color:#2b2b2b81;">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">BALENCIAGA</h2>
              <p class="description">If i am lost take me the balenciaga store</p>
          </div>
      </div>
  </div>
  <div class="container" style="background-color:#2b2b2b81;">
      <div class="row">
          <div class="col-xs-8 col-sm-6 col-md-3">
              <a href="https://www.fwrd.com/brand-balenciaga/e5f885/" target="_blank"> <img src="https://i.pinimg.com/564x/92/63/7c/92637cfcf558a0286821fcac0d3e3f35.jpg" class="img-rounded img-responsive" alt="Gucci"></a>            
              <div class="img-details">
                  <p> <a href="https://www.gucci.com/" target="_blank"></a></p>
              </div>
          </div>
          <div class="col-xs-8 col-sm-6 col-md-3">
              <h4 class="images-title"> 
                <p>Product: 10</p>
                <p>Watching: 1</p>
                <p>Response rate: 79%(in a few hours)</p>
                <div class="col text-center" routerLinkActive="active">
                  <a class="btn btn-outline-neutral btn-round nav-link" style="padding:3px 10px;" rel="tooltip" >Chat</a>
                </div>
              </h4>            
          </div>
          <div class="col-xs-8 col-sm-6 col-md-3">
              <h4 class="images-title"> 
                 <p>Order cancellation: 2%</p>
                 <p>Flowers: 77,7k</p>
                 <p>Evaluate: 5/5 (12,3k evaluate)</p>
                 <div class="col text-center" routerLinkActive="active">
                  <a class="btn btn-outline-neutral btn-round nav-link" style="padding:3px 10px;" rel="tooltip" >Flow</a>
                </div>
               </h4>               
          </div>
          <div class="col-xs-8 col-sm-6 col-md-3">
              <h4 class="images-title"> 
                <p>Joined: 15 months ago</p>
                <p>Founder: Cristobal Balenciaga</p>
                <p>Since: 1919</p>
             </h4> 
          </div>    
      </div>
  </div>
  <div class="container" style="background-color:#2b2b2b81;">
    <div class="tim-title">
      <h3 style="background-color:#2b2b2b81;text-align: center;">Top search</h3>
  </div>
    <div class="row">            
        <div class="col-xs-8 col-sm-6 col-md-3">
            <div class="containe a img-rounded img-responsive" style="background-image: url(https://i.pinimg.com/564x/46/c1/c9/46c1c9af5398c08fdddfcb801f6ec21b.jpg)">
                <div class="overlay">
                  <div class = "items"></div>
                  <div class = "items head">
                    <p>CAT EYE SUNGLASSES</p>
                    <hr>
                  </div>
                  <div class = "items price">
                    <p class="old">$699</p>
                    <p class="new">$345</p>
                  </div>
                  <div class="items cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span>DETAIL</span>
                </div>
              </div>
              </div>
            <div class="img-details">
                
                <h4 class="images-title"> 
                    <div class="col text-center" routerLinkActive="active">
                   <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                    </div>
               </h4>
            </div>
        </div>
        <div class="col-xs-8 col-sm-6 col-md-3">
               <div class="containe b img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/564x/f3/f7/28/f3f728b6c133f21b895364d722d22eb3.jpg)">
                <div class="overlay">
                  <div class = "items"></div>
                  <div class = "items head">
                    <p>RECTANGLE SUNGLASSES</p>
                    <hr>
                  </div>
                  <div class = "items price">
                    <p class="old">$699</p>
                    <p class="new">$345</p>
                  </div>
                  <div class="items cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span>DETAIL</span>
                </div>
              </div>
              </div>
            <div class="img-details">
                <h4 class="images-title"> 
                    <div class="col text-center" routerLinkActive="active">
                   <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                    </div>
               </h4>
            </div>
        </div>
        <div class="col-xs-8 col-sm-6 col-md-3">
               <div class="containe c img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/564x/d9/ce/f8/d9cef837fb63c9f41b8e396539e3f576.jpg)">
                <div class="overlay">
                  <div class = "items"></div>
                  <div class = "items head">
                    <p>MILLIONAIRES MONOGRAM BANDANA SUNGLASSES</p>
                    <hr>
                  </div>
                  <div class = "items price">
                    <p class="old">$699</p>
                    <p class="new">$345</p>
                  </div>
                  <div class="items cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span>DETAIL</span>
                </div>
              </div>
              </div>
            <div class="img-details">
                <h4 class="images-title"> 
                    <div class="col text-center" routerLinkActive="active">
                   <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                    </div>
               </h4>
            </div>
        </div>
        <div class="col-xs-8 col-sm-6 col-md-3">
               <div class="containe d img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/564x/a2/6c/eb/a26cebd846933024045c2201cd294b68.jpg)">
                <div class="overlay">
                  <div class = "items"></div>
                  <div class = "items head">
                    <p>RECTANGLE SUNGLASSES</p>
                    <hr>
                  </div>
                  <div class = "items price">
                    <p class="old">$699</p>
                    <p class="new">$345</p>
                  </div>
                  <div class="items cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span>DETAIL</span>
                </div>
              </div>
              </div>
            <div class="img-details">
                <h4 class="images-title"> 
                    <div class="col text-center" routerLinkActive="active">
                   <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                    </div>
               </h4>
            </div>
        </div>

    </div>
</div>

<div class="container" style="background-color:#2b2b2b81;" >
    
    <div class="row">            
        <div class="col-xs-8 col-sm-6 col-md-3">
           <div class="containe f img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/564x/4b/8e/02/4b8e02182d2179a3fb3312cf1f599d70.jpg)">
            <div class="overlay">
              <div class = "items"></div>
              <div class = "items head">
                <p>MISSDIOR B1U</p>
                <hr>
              </div>
              <div class = "items price">
                <p class="old">$699</p>
                <p class="new">$345</p>
              </div>
              <div class="items cart">
                <i class="fa fa-shopping-cart"></i>
                <span>DETAIL</span>
            </div>
          </div>
          </div>
        <div class="img-details">
            <h4 class="images-title"> 
                <div class="col text-center" routerLinkActive="active">
               <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
                </div>
           </h4>
        </div>
    </div>
    <div class="col-xs-8 col-sm-6 col-md-3">
       <div class="containe g img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/564x/6d/0b/94/6d0b94d5bd47905b3e14b59295f43ed5.jpg)">
        <div class="overlay">
          <div class = "items"></div>
          <div class = "items head">
            <p>Rectangular sunglasses with photochromic lens</p>
            <hr>
          </div>
          <div class = "items price">
            <p class="old">$699</p>
            <p class="new">$345</p>
          </div>
          <div class="items cart">
            <i class="fa fa-shopping-cart"></i>
            <span>DETAIL</span>
        </div>
      </div>
      </div>
    <div class="img-details">
        <h4 class="images-title"> 
            <div class="col text-center" routerLinkActive="active">
           <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
            </div>
       </h4>
    </div>
</div>
<div class="col-xs-8 col-sm-6 col-md-3">
   <div class="containe h img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/564x/e6/20/d4/e620d48c7dd30bd2bb2d8897aa988dc6.jpg)">
    <div class="overlay">
      <div class = "items"></div>
      <div class = "items head">
        <p>Specialized fit square optical frame</p>
        <hr>
      </div>
      <div class = "items price">
        <p class="old">$699</p>
        <p class="new">$345</p>
      </div>
      <div class="items cart">
        <i class="fa fa-shopping-cart"></i>
        <span>DETAIL</span>
    </div>
  </div>
  </div>
<div class="img-details">
    <h4 class="images-title"> 
        <div class="col text-center" routerLinkActive="active">
       <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
        </div>
   </h4>
</div>
</div>
<div class="col-xs-8 col-sm-6 col-md-3">
<div class="containe j img-rounded img-responsive"style="background-image: url(https://i.pinimg.com/736x/34/ef/f9/34eff97fa5fdf7bb53c5d90abdc7c9fd.jpg)">
<div class="overlay">
  <div class = "items"></div>
  <div class = "items head">
    <p>Flower Embroidery Hoop Art</p>
    <hr>
  </div>
  <div class = "items price">
    <p class="old">$699</p>
    <p class="new">$345</p>
  </div>
  <div class="items cart">
    <i class="fa fa-shopping-cart"></i>
    <span>DETAIL</span>
</div>
</div>
</div>
<div class="img-details">   
<h4 class="images-title"> 
    <div class="col text-center" routerLinkActive="active">
   <a class="btn btn-outline-neutral btn-round btn-lg nav-link" rel="tooltip" >ADD</a>
    </div>
</h4>
</div>
</div>
</div>
<div class="section section-dark section-nucleo-icons"style="background-color:rgba(0,0,0,0)">
  <div class="container" style="background-color:#2b2b2b81;">
      <div class="row">
          <div class="col-md-8 ml-auto mr-auto text-center">
              <h2 class="title">Cristobal Balenciaga</h2>
              <p class="description">1895-1972</p>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-12">
              <h2 class="title">Formation & Deve</h2><br/>
              <p class="description">
                Cristóbal Balenciaga Eizaguirre ; 21 January 1895 – 23 March 1972) was a Spanish fashion designer, and the founder of the Balenciaga fashion house. He had a reputation as a couturier of uncompromising standards and was referred to as "the master of us all" by Christian Dior and as "the only couturier in the truest sense of the word" by Coco Chanel, who continued, "The others are simply fashion designers". On the day of his death, in 1972, Women's Wear Daily ran the headline "The King is Dead".
              </p><br/>
          </div>

          <div class="col-lg-6 col-md-12">
              <div class="icons-container">      
                  <img src="https://i.pinimg.com/564x/82/b6/00/82b600bd4742cceb06ab367b5e1741ac.jpg"width="" height="265" alt=" mars">
              </div>
          </div>
      </div>
  </div>
</div>  
